node_modules/
node_modules/*
public/prints/
frontend/public/prints/
frontend/public/build.js
dist/

# Ignore generated styles and drivers
public/styles.css
public/styles.css.map
frontend/public/styles.css
frontend/public/styles.css.map
frontend/public/bundle.js
