node_modules/
node_modules/*
public/prints/
frontend/public/prints/
frontend/public/build.js
frontend/public/bundle.js
frontend/public/bundle.js.map
frontend/public/styles.css
frontend/public/styles.css.map
dist/

logs/
ai-flow-service/logs/
ai-flow-service/data.db
ai-flow-service/.env

public/styles.css
public/styles.css.map
media/
README.md


/.env
.vscode/.env
backend/config.ts
backend/data/mediator.sqlite
data/mediator.db
data/mediator.db-shm
data/mediator.db-wal
dist_tmp/*
